body{
    /* display: flex; */
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: #f3f2ef;
}

.nav-bar{
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 55px;
    width: 100%;
}

.nav-bar .left-nav{
    display: flex;
    list-style-type: none;
    gap: 18px;
    margin-top: 10px;
    cursor: pointer;
}

.nav-bar .left-nav .fa-linkedin{
    font-size: 35px;
    color: blue;
}

.nav-bar .left-nav .fa-solid{
    position: absolute;
    margin: 8px 16px;
    font-size: 17px;
}

.nav-bar .left-nav .input-search{
    border: none;
    padding-left: 39px;
    font-size: 17px;
    width: 107%;
    height: 40px;
    background-color: #F3F2EE;
    border-radius: 5px;
    margin-top: -3px;
}

.nav-bar .right-nav{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 146px;
    text-align: center;
    color: gray;
    margin-top: 10px;
    cursor: pointer;
}
 
.nav-bar .right-nav .nav-text{
    font-size: 12px;
    padding-top: 4px;
}

.nav-bar .right-nav .fa-circle-user{
    color: blueviolet;
    font-size: 18px;   
}